name: Deploy Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93ea575f1c43103b9c173ad79739fdf38f8fc57f # v4.2.2
      - uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0
      - uses: pnpm/action-setup@78cb3b21c7467d3b6a4dd5f801c56aec8249604f # v4.2.0
        with:
          version: 10.4.1
      - uses: actions/setup-node@1d0ff469b7ec7df4d8843b6c31a6050a36731bd5 # v4.4.0
        with:
          node-version: 22.13.1
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm run lint
      - run: pnpm run test
      - run: pnpm run build
      - run: cp public/.nojekyll dist/.nojekyll
      - uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3.0.1
        with:
          path: dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - id: deployment
        uses: actions/deploy-pages@6f3497be4b2f90edac44e48dff4f42772cbb7ea5 # v4.0.5
